<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administrador - Donde Beto</title>
    
    <link rel="stylesheet" href="{% static 'css/Vista_adm/admi.css' %}">
    <link rel="icon" href="{% static 'img/logoOficial.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="admin-container">
        <!-- Menú lateral -->
        <aside class="sidebar">
           <div class="logo">
                <img src="{% static 'img/logoOficial.svg' %}" alt="Logo Beto" class="logo-icon">
                <span class="logo-text">Beto</span>
           </div>

            <nav class="menu">
                  <a href="{% url 'productos' %}" class="menu-item">
                    <img src="{% static 'img/icon-productos.svg' %}" alt=""> Productos
                </a>
                <a href="{% url 'mesas' %}" class="menu-item">
                    <img src="{% static 'img/icon-mesas.svg' %}" alt=""> Mesas
                </a>
                <a href="{% url 'pedidos_list' %}" class="menu-item">
                    <img src="{% static 'img/icon-pedidos.svg' %}" alt=""> Pedidos
                </a>
                 <a href="{% url 'pagos_list' %}" class="menu-item">
                    <img src="{% static 'img/icon-facturas.svg' %}" alt=""> Pagos/Facturas
                </a>

                <a href="{% url 'clientes' %}" class="menu-item">
                    <img src="{% static 'img/icon-clientes.svg' %}" alt=""> Clientes
                </a>

                <a href="{% url 'usuarios' %}" class="menu-item">
                    <img src="{% static 'img/icon-clientes.svg' %}" alt=""> Trabajadores
                </a>

                 <a href="{% url 'vista_inventario' %}" class="menu-item">
                    <img src="{% static 'img/inventario.svg' %}" alt=""> Inventario
                </a>

                <a href="{% url 'login' %}" class="menu-item logout">
                    <img src="{% static 'img/icon-cerrar.svg' %}" alt=""> Cerrar
                </a>
            </nav>
        </aside>

        <main class="main-content">
            <header class="topbar">
                <div class="caja">
    {% if rol %}
        Rol: {{ rol }}
    {% else %}
        No disponible.
    {% endif %}
</div>
                <div class="titulo">DONDE BETO RESTO BAR</div>
                <div class="usuario">
    {% if usuario %}
        ¡Hola, {{ usuario.nombre }} {{ usuario.apellido }}!
    {% else %}
        No has iniciado sesión.
    {% endif %}
</div>

            </header>

            <section class="content">
                   {% if request.resolver_match.url_name == 'vista_adm' %}
            <h1>Bienvenido/a,   {{ usuario.nombre }}</h1>
            <span class="text">
                <br>
            Este es el panel de administración, selecciona una opción del menú para comenzar.
             </span>
            {% endif %}

            {% block content %}
            {% endblock %}
            </section>
        </main>
    </div>
</body>
</html>