<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BETO - Cliente</title>
  <link rel="stylesheet" href="{% static 'css/homeCliente.css' %}">
</head>
<body>

  <!-- Panel lateral oculto -->
  <aside id="sidebar" class="sidebar">
    <div class="sidebar-header">
  <img src="{% static 'img/usuario.png' %}" alt="Foto usuario">
  <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
  <p>{{ usuario.email }}</p>
</div>
    <div class="sidebar-links">
      <a href="#">Mi perfil</a>
      <a href="#">Mis pedidos</a>
      <a href="#">Configuración</a>
      <a href="{% url 'login' %}" class="logout">Cerrar sesión</a>
    </div>
  </aside>

  <!-- Encabezado -->
  <header class="navbar">
    <div class="menu-icon" onclick="toggleSidebar()">☰</div>
    <div class="logo"> <img src="{% static 'img/logoOficial.svg' %}" alt="Logo Beto" class="logo-icon"> BETO</div>
    <a href="{% url 'login' %}" class="btn-login">Salir</a>
  </header>

  <!-- Menú de navegación -->
  <nav class="nav-links">
    <a href="{% url 'home_cliente' %}" class="active">Productos</a>
    <a href="{% url 'ubicacion' %}">Ubicación</a>
    <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <section class="categories">
      <div class="card"><p>Almuerzos</p></div>
      <div class="card"><p>Comida rápida</p></div>
      <div class="card"><p>Bebidas</p></div>
      <div class="card"><p>Desayunos</p></div>
      <div class="card"><p>Especiales</p></div>
    </section>
  </main>

  <script>
    function toggleSidebar() {
      document.getElementById('sidebar').classList.toggle('active');
    }
  </script>

</body>
</html>
